<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body class="error-page">
    <div style="display:flex; flex-direction:column; justify-content: center; width: 100%;">
        <h1>Sorry, there was an error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <a class="line-title btn-magic" href="~/Home/Login">Redirect to login</a>
        <a href="https://fffwebapplicationappservice.azurewebsites.net/Question/Index">Link to Question Page</a>
    </div>
</body>
</html>
