@model FFFWebApplication.User

@{
    ViewBag.Title = "NoAccess";
}

<div class="pause__container">
    <h1 class="page-title">Access Required</h1>

    <p class="page-text">You don't have the right access to view this page.</p>

    <a class="btn-standard" href="/Home/Login">BACK TO LOGIN</a>
</div>

