@model FFFWebApplication.User

@{
    ViewBag.Title = "Sorry";
}

<div class="error-page sorry-page">
    <h1 class="page-title">SORRY</h1>
    <p class="page-text">It seems you have already taken our quiz.</p>
    <a class="btn-standard sorry-button" href="/Home/Login">BACK TO LOGIN</a>
</div>

